.main {
    margin:auto;
    text-align: center;
    width:500px;
  }


.avatar {
    vertical-align: middle;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 50px;
  
    
  }

  .navbar{
    margin:auto;
    width:500px;


  }

  .navButton{
      margin-top:5px;
      margin-bottom:5px;
      margin-left:20px;
      margin-right:20px;
      padding:4px;
      width:80px

  }